<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "RUMBL!" %></h2>
  <p class="lead">Check it out</p>

  <ul class="bigFont">
    <li>
      <%= link "Users", to: user_path(@conn, :index) %>
    </li>
    <li>
      <%= link "Videos", to: video_path(@conn, :index) %>
    </li>
  </ul>
</div>
